<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a New List</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new list</h1>
            <form method="post">
                {% csrf_token %} {# Include a CSRF token for security #}
                <input type="text" name="name">
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>
