<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <div>
                <a href="{% url 'todos:todo_item_create' %}">Create a new item</a> <!-- New link to create a new item -->
            </div>
            <div>
                <a href="{% url 'todos:todo_list_create' %}">Create a new list</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_list in todo_lists %}
                    <tr>
                        <td><a href="{% url 'todos:todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
                        <td>{{ todo_list.items.count }}</td>
                        <td><a href="{% url 'todos:todo_list_update' todo_list.id %}">Edit</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No to-do lists available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
